*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.main_box{
    height: 100vh;
    width: 100%;
    background-image: url("photo.jpg");
    background-size: cover;
}
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    top: 5px;
    left: 10px;
    transition: all 0.3s linear;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100%;
    width: 230px;
    background-color: rgba(128, 128, 128, 0.248);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 50px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .btn_two{
    position: absolute;
    left: 210px;
    line-height: 50px;
    font-size: 20px;
    color: rgba(128, 128, 128,1);
    transition: all 0.3s linear;
}
.sidebar_menu .menu{
    position: absolute;
    top: 60px;
    width: 100%;
    color: white;

}
.sidebar_menu .menu li{
    margin-top: 5px;
    padding: 12px 20px;
}
.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
}
.sidebar_menu .menu i{
    padding-right: 8px;
}
.sidebar_menu .social_media{
    position: absolute;
    left: 20%;
    top: 90%;
}
.sidebar_menu .social_media a{
    color: rgba(255, 255, 255, 0.628);
    padding-left: 10px;

}
#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .social_media i:hover{
    color: white;
    transform: scale(1.5);
}
.sidebar_menu .btn_two:hover{
    transform: scale(1.2);
}
.btn_one:hover{
    transform: scale(1.2);
}

#check:checked ~ .sidebar_menu{
    left: 0;
}
#check:checked ~ .btn_one{
    opacity: 0;
}
.sidebar_menu .logo:hover{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}